.text {
	display: inline-block;
	margin: auto;
	width: 98%;
	padding: 1%;
}
table, th, td {
	border: 1px solid #555555;
	background: #080808;
	margin: auto;
	width: 99%;
	padding: 0.5%;
	table-layout: fixed;
}
body {
	font-family: monospace;
	background: #080808;
	color: #dedede;
}
main {
	padding-bottom: 2.5rem;
	background: #222222;
	margin: 10%;
	margin-top: 1%;
	outline-style: outset;
	outline-width: 4px;
	outline-color: #333333;
}
h1, h2, h3 {
	text-align: center;
}
a:link {
	color: #408000;
    transition: all 1s ease;
}
a:visited {
	color: #408000;
}
a:hover, a:active {
	color: #a3ff00;
    transition: all 0.1s ease;
    text-shadow: 0 0 8px #40ff00;
}
